{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"import",
		"react",
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"rules": {
		"@typescript-eslint/ban-ts-comment": 1,
		"@typescript-eslint/no-explicit-any": 1,
		"@typescript-eslint/no-unused-vars": 2,

		"react/jsx-uses-vars": 2,

		"no-var": 2,
		"no-unused-vars": [
			2,
			{
				"args": "none",
				"varsIgnorePattern": "^_",
				"argsIgnorePattern": "^_",
				"ignoreRestSiblings": true
			}
		],
		"no-multi-str": 2,
		"no-prototype-builtins": 0,
		"no-duplicate-imports": 2,
		"no-self-compare": 2,
		"no-template-curly-in-string": 2,
		"no-unused-private-class-members": 2,
		"curly": 2,
		"camelcase": [
			2,
			{
				"properties": "never",
				"allow": ["cust.*"]
			}
		],
		"no-extend-native": 2,
		"max-depth": 2,
		"dot-notation": 2,
		"eqeqeq": 2,
		"comma-dangle": [
			2,
			"only-multiline"
		],
		"no-constant-condition": [
			2,
			{
				"checkLoops": false
			}
		]
	},
	"env": {
		"es6": true,
		"amd": true,
		"node": true,
		"browser": true
	},
	"parserOptions": {
		"ecmaVersion": 2022,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	}
}
